<h2>Keep Drinking</h2>
<ul>
    <li>
        <app-drinking-wine></app-drinking-wine>
    </li>
    <li>
        <app-drinking-wine></app-drinking-wine>
    </li>
    <li>
        <app-drinking-wine></app-drinking-wine>
    </li>
    <li>
        <app-drinking-wine></app-drinking-wine>
    </li>
    <li>
        <app-drinking-wine></app-drinking-wine>
    </li>
    <li>
        <app-drinking-wine></app-drinking-wine>
    </li>
    <li>
        <app-drinking-wine></app-drinking-wine>
    </li>
    <li>
        <app-drinking-wine></app-drinking-wine>
    </li>
</ul>